/*info Seller*/
.card-seller{
    width: 50em;
    height: 6em;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.card-seller2{
    width: 50em;
    height: 11em;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.center{
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}

.button-info{
    width: 7em;
}

