.body{
    font-family: Poppins;
}

/* Login */
.login-left {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.login-right {
    margin: 20%;
}

.login-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;

}

.btn-primary {
    background-color: #7126B5 !important;

} 
/* Regist */

.regist-left {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.regist-right {
    margin: 20%;
}

.regist-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.regist-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;

} 

/* Home */




/* produk */


.cari-produk{

    position: relative;

    width: 444px;

    height: 48px;

    right: 170px;


    font-family: 'Poppins';

    font-style: normal;

    font-weight: 400;

    font-size: 14px;

    line-height: 20px;



    background-repeat: no-repeat !important;

    background-position: 390px 12px !important;

    background: #EEEEEE;

    border-radius: 16px;

    border-color: white;

}


.nav-item-list{


    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-notification{

    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-user{


    background-repeat: no-repeat !important;

    background-position: center !important;

}



.carousel-item{

    width: 600px;

    height: 436px;

}


.carousel-inner{

    width: 600px;

}

.btn-terbitakan{

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 16px;


    /* Primary/Purple/04 */

    background: #7126B5;

    border-radius: 16px;

    border-color: #7126B5;

}


.btn-edit{

    box-sizing: border-box;


    /* Auto layout */

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 78px;


    /* Neutral/01 */

    background: #FFFFFF;

    color: #000000;


    /* Primary/Purple/04 */

    border: 1px solid #7126B5;

    border-radius: 16px;

    
}

/* daftar jual */
.home-nav.daftar-jual .container h3 {
    display: block;
  }

  .page-daftar-jual h5 {
    display: none;
  }

  .page-daftar-jual.container {
    margin-top: 0 !important;
    width: 100% !important;
  }

  .home-nav.daftar-jual .container {
    flex-direction: row-reverse;
    gap: 20px;
  }

  .navigasi-user .card img {
    width: 15% !important;
  }
  /* category */
  .category div button.button-sell {
    width: 25%;
    margin: 0 37.5%;
  }

  .category .button-category {
    overflow-x: scroll;
  }
  .category .button-category::-webkit-scrollbar {
    width: 0;
  }

  .card-sidebar-catergory_body {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 30%;
    left: 0;
  }

  .sidebar-category .card-sidebar-category.card {
    position: relative;
    overflow-x: auto;
    height: 60px;
  }

  .sidebar-category .card-sidebar-category.card h6 {
    display: none;
  }

  .sidebar-category .card-sidebar-category button {
    background-color: rgba(226, 212, 240, 1) !important;
    padding: 0 10px !important;
    border-radius: 12px;
    height: 20%;
    border-bottom: transparent !important;
  }
  /* card */
  .card-content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 20px;
    grid-auto-flow: row;
  }

  /* content */
  .buttons-user {
    position: absolute;
    z-index: 999;
    bottom: -110%;
  }

  .user-profile {
    width: 140%;
    margin-left: -47px;
  }

  .card-product-carousel {
    width: 150%;
    margin: -30%;
  }

  .card-product-carousel .slider-product .owl-theme .item.active {
    width: 150% !important;
  }

  .card-description {
    width: 140%;
    margin-left: -47px;
  }

  .buttons-user div {
    position: fixed;
    width: 90%;
    left: 5%;
  }

  .buttons-user div button:nth-child(2) {
    display: none;
  }

  .content-product {
    grid-template-columns: auto auto;
    margin-top: 20px;
  }