/* Login */
.login-left {
    background-repeat: no-repeat;
    margin: auto;
}

.login-right {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.login-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;

}



/* Regist */

.regist-left {
    background-repeat: no-repeat;
    margin: auto;
}

.regist-right {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;;
}

.regist-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.regist-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;

} 

/* Home */



