.body {
    font-family: Poppins;
}

/* Login */
.login-left {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.login-right {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.login-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.login-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

/* Regist */

.regist-left {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.regist-right {
    margin-top: 20%;
    margin-bottom: 20%;
    margin-left: 20%;
    margin-right: 20%;
}

.regist-right p {
    margin-top: 40px;
    margin-left: 85px;
}

.regist-right h1 {
    font-weight: bold;
    font-size: 24px;
    color: black;
    font-weight: 700;
}

/* Home */


/* produk */


.cari-produk {

    position: relative;

    width: 444px;

    height: 48px;

    right: 170px;


    font-family: 'Poppins';

    font-style: normal;

    font-weight: 400;

    font-size: 14px;

    line-height: 20px;



    background-repeat: no-repeat !important;

    background-position: 390px 12px !important;

    background: #EEEEEE;

    border-radius: 16px;

    border-color: white;

}


.nav-item-list {


    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-notification {

    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-user {


    background-repeat: no-repeat !important;

    background-position: center !important;

}



.carousel-item {

    width: 600px;

    height: 436px;

}


.carousel-inner {

    width: 600px;

}

.btn-terbitakan {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 16px;


    /* Primary/Purple/04 */

    background: #7126B5;

    border-radius: 16px;

    border-color: #7126B5;

}


.btn-edit {

    box-sizing: border-box;


    /* Auto layout */

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 78px;


    /* Neutral/01 */

    background: #FFFFFF;

    color: #000000;


    /* Primary/Purple/04 */

    border: 1px solid #7126B5;

    border-radius: 16px;

}

/* infoprofile */


/* navbar */
.na2 {
    margin-left: 160px;
}

.na3 {
    background: linear-gradient(to bottom, #7126B5 5%, #7126B5 100%);
    background-color: #7126B5;
    border-radius: 10px;
    border: 2px solid #7126B5;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 500px;
    border: none;
}

.na3:hover {
    background: linear-gradient(to bottom, #653096 5%, #653096 100%);
    background-color: #653096;
}

.na3:active {
    position: relative;
    top: 1px;
}

.info1 {
    margin-left: 290px;
    font-weight: bold;
}

/* Container Arrow*/
.arrow2 {
    color: black;
    font-size: 25px;
    margin-left: -100px;
}

.container div .info2 {
    display: none;
}

.container div .info3 {
    display: none;
}

.box {
    width: 100px;
    height: 35px;
    background-color: #4B1979;
    border: none;
}

.box1 {
    width: 100px;
    height: 100px;
    margin-left: 40%;
    background-color: #E2D4F0;
    border: none;
    border-radius: 12px;

}

.cari-produk {

    position: relative;

    width: 444px;

    height: 48px;

    right: 170px;


    font-family: 'Poppins';

    font-style: normal;

    font-weight: 400;

    font-size: 14px;

    line-height: 20px;



    background-repeat: no-repeat !important;

    background-position: 390px 12px !important;

    background: #EEEEEE;

    border-radius: 16px;

    border-color: white;

}



.nav-item-list {


    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-notification {

    background-repeat: no-repeat !important;

    background-position: center !important;

    margin-right: 24px;

}


.nav-item-user {


    background-repeat: no-repeat !important;

    background-position: center !important;

}



.carousel-item {

    width: 600px;

    height: 436px;

}


.carousel-inner {

    width: 600px;

}

.btn-terbitakan {

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 16px;


    /* Primary/Purple/04 */

    background: #7126B5;

    border-radius: 16px;

    border-color: #7126B5;

}


.btn-edit {

    box-sizing: border-box;


    /* Auto layout */

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    padding: 12px 24px;

    gap: 4px;


    position: absolute;

    width: 304px;

    height: 48px;

    margin-top: 78px;


    /* Neutral/01 */

    background: #FFFFFF;

    color: #000000;


    /* Primary/Purple/04 */

    border: 1px solid #7126B5;

    border-radius: 16px;

}



.upload-button-product {
    background-image: url(../images/Group1.png);
    background-size: auto;
    width: 96px;
    height: 96px;
    cursor: pointer;
    margin-right: 210px;
}

.upload-button-product2 {
    background-image: url(../images/Group2.png);
    background-size: auto;
    width: 96px;
    height: 96px;
    cursor: pointer;
    margin-right: 210px;
}

#infoProduct img {
    object-fit: cover;
    width: 96px;
    height: 96px;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 12px;
}

#infoProduct img {
    object-fit: cover;
    width: 96px;
    height: 96px;
    cursor: pointer;
    margin-left: 100px;
    border-radius: 12px;
}



