.logo {
    width: 100px;
    height: 34px;
    background-color: #4B1979;
}
.outline-dark{
    color: rgb(0, 0, 0);
}
.icon-logout{
    margin-right: 10 px;
}
.center-text{
    text-align: center;
    width: 8em

}
.row-2{
    margin-left:16rem;
    margin-top:2rem;
    margin-bottom:2rem;
}